$black: black;
$white: white;
$red: #ff0000;
$gray: #808080;
$bronze-dark: #592618;
$bronze-light: #a74430;
$brass-glow: #ff9058;

$neon-purple: #983ad8;   
$neon-green: #3AFF7C;     
$neon-cyan: #30e4ec;       
$neon-pink: #cc36d8;      
$neon-red: #a21010;      

$bottle-green: #2fdd82;
$bottle-lime: #98ff60;
$bottle-orange: #ff985b;
$bottle-purple: #a457eb;
$bottle-blue: #45d8ff;
$bottle-gold: #ffde6e;

$copper-pipe: #743b1b;
$metal-shadow: #281610;
$deep-ruby: #a82424;

