// Base neutras e metálicas
$black: black;
$white: white;
$bronze-dark: #4c2d18;
$bronze-light: #a76730;
$brass-glow: #ffad58;

// Neon principais
$neon-purple: #983ad8;     // Orbital atômico
$neon-cyan: #30e4ec;       // Letreiro BAR
$neon-pink: #cc36d8;       // Reflexos roxos e lilases
$neon-red: #a21010;       // Reflexos roxos e lilases

// Garrafas e detalhes coloridos
$bottle-green: #2fdd82;
$bottle-lime: #98ff60;
$bottle-orange: #ff985b;
$bottle-purple: #a457eb;
$bottle-blue: #45d8ff;
$bottle-gold: #ffde6e;

// Sombreamento e painel
$copper-pipe: #743b1b;
$metal-shadow: #281610;
$deep-ruby: #a82424
