@import "ui/styles/colors";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-repeat: no-repeat;
  animation: menuTransition 300ms linear;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;

  @keyframes menuTransition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;


    > :nth-child(-n+2) {
      position: absolute;
    }
    > :nth-child(-n+3) {
      position: absolute;
    }
    > :nth-child(-n+4) {
      position: absolute;
    }
  }
}